In [2]:
import pandas as pd

filename = '/content/drive/MyDrive/Colab Notebooks/PTDataScience/PandasParaManipulaciónDeDatos/sales_predictions.csv'
df = pd.read_csv(filename)
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [27]:
#df[df.isnull().T.any()]
#df2 = df.loc[:, df.columns!='Item_Weight']
#df2.loc[:, df2.columns!='Outlet_Size'].isnull().T.any()
df[df['Item_Weight'].isnull()]
#df[df['#'].isnull()]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [63]:
#df.groupby(['Item_Fat_Content', 'Item_Type'])[['Item_Visibility']].mean()
#df.groupby(['Item_Fat_Content'])[['Item_Visibility']].mean()
#df.groupby(['Item_Type', 'Outlet_Type'])[['Item_Outlet_Sales']].mean()
#df.groupby(['Outlet_Type'])['Item_Outlet_Sales'].max()
idx = df.groupby(['Outlet_Type'])['Item_Outlet_Sales'].transform(max) == df['Item_Outlet_Sales']
df[idx]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
43             FDC02        21.35  ...  Supermarket Type2          6768.5228
4888           FDF39        14.85  ...  Supermarket Type1         10256.6490
7188           NCE42          NaN  ...  Supermarket Type3         13086.9648
7759           NCK30        14.85  ...      Grocery Store          1775.6886

[4 rows x 12 columns]

In [65]:
#df.loc[df["Item_Fat_Content"] == "reg"].
#df['Item_Fat_Content'] = df["Item_Fat_Content"].replace(['reg'], 'Regular')

#df['Item_Fat_Content'] = df["Item_Fat_Content"].replace(['LF', 'low fat'], 'Low Fat')
df['Item_Outlet_Sales'].max()

13086.9648